div.container
  h1 #bienvenido <br> internauta
  hr
  p muy pronto en este lugar, <br> un sitio genial en todas sus pantallas...
  div.powered
    small powered by 
      a(href='https://logico.com.ar/') logico software